[user]
	name = oscartorres
	email = 38195378+oscartorres-10@users.noreply.github.com
[alias]
	co = commit
	ch = checkout
	br = branch
	st = status
	pu = push
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
[core]
	editor = code --wait
	autocrlf = input
[push]
	autoSetupRemote = true
